.coinlist {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.all-item:nth-child(odd) {
  background-color: #6097fc;
}

input {
  padding-left: 10px;
  width: 20%;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: #6097fc;
  color: #fff;
  justify-items: center;
}

input::placeholder {
  color: #fff;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  background-color: #4369b2;
  color: #fff;
  padding-left: 5px;
  gap: 10px;
}

.list-item:hover {
  background-color: #6097fc;
  color: #fff;
}

.coin-logo {
  height: 30px;
}

.name,
.symbol,
.current_price,
.rank,
.arrow-icon {
  width: 23%;
}

a {
  text-decoration: none;
}

.bg {
  background-color: #6097fc;
}
